body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 30px 0;
  color: #072a4a;
  font-size: 2.2rem;
}

.book-shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.book {
  background: #f8f9fb;
  border-radius: 16px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
}

.book:hover {
  transform: rotateY(6deg) rotateX(4deg) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 85, 179, 0.25);
}

.book img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #072a4a;
}

.book h3 {
  margin: 14px 0 8px;
  font-size: 17px;
  color: #003d80;
}

.book a {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px 18px;
  background: #072a4a;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

.book a:hover {
   background: yellow;
   color: black;
}

@media (max-width: 768px) {
  .book img {
    height: 170px;
  }
}
